<template>
  <v-container
    id="user-profile"
    fluid
    tag="section"
  >
    <v-row justify="center">
      <v-col
        cols="12"
        md="8"
      >
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">
              Edit Profile
            </div>

            <div class="subtitle-1 font-weight-light">
              Complete your profile
            </div>
          </template>

          <v-form>
            <v-container class="py-0">
              <v-row>
             
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    class="purple-input"
                    label="User Name"
                    v-model="userName"
                  />
                </v-col>

                <v-col
                  cols="12"
                  md="6"
                >
                  <v-text-field
                    class="purple-input"
                    label="email"
                    type="email"
                    v-model="userEmail"
                  />
                </v-col>      

                <v-col
                  cols="12"
                  class="text-right"
                >
                  <v-btn
                    color="success"
                    class="mr-0"
                    @click="updateProfile()"
                  >
                    Update Profile
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>

   
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data () { 
        return {  
          User : {},
          userName : '',
          userEmail : ''
        }
      },
    methods:{
      getUserProfile(){
        this.User = JSON.parse(sessionStorage.getItem('EOTUSER')).profile;
        this.userName = this.User.name;
        this.userEmail = this.User.email;
      },
      
      updateProfile(){
        let url = 'updateAdminProfile';
        let resource = '?username=' + this.userName + '&' + 'email=' + this.userEmail;        
        this.axios.post(url + resource).then((response) => {
          if(response.data.isOk)
            this.$toasted.show('Profile has been updated successfully')
        }).catch( error => { 
          console.log(error);
         });
      },
    },
    mounted(){
          this.getUserProfile();
    },
  }
</script>
