<template>	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-40 p-b-30" style="border-radius:8px">
					<span class="login100-form-title ">
                        <img src="../../assets/favicon.png" alt="logo-icon" style="height:6em">
                    </span>
					<span class="login100-form-title p-b-40 p-t-20">
						Login To Control Panel
					</span>
				<v-form
					ref="form"
					v-model="valid"
					lazy-validation
					>
					<v-container>
						<v-row>
							<v-col cols="12" sm="12" md="12">
								<v-text-field
									v-model="username"
									:rules="usernameRules"
									label="User Name"
									required
									hint="Please Enter User Name"
								></v-text-field>
							</v-col>
						</v-row>

						<v-row>
							<v-col cols="12" sm="12" md="12">
								<v-text-field
									v-model="password"
									:rules="passwordRules"
									label="Password"
									required
									type="password"
									hint="Please Enter Password"
								></v-text-field>
							</v-col>
						</v-row>
					</v-container>	

					<v-container>
						<div class="row">
								<v-btn
								class="ma-2"
								color="success"
								:loading="IsLoading"
								@click="TryLogin()"
								style="margin:0 auto; background-color:gray"
								>
								Login
							</v-btn>
						</div>
					
					</v-container>
					
				</v-form>
			</div>
		</div>
	</div>
	
</template>

<script>
// const config = {
//     headers: { Authorization: `Bearer ${token}` }
// };
// import {  } from "../../assets/Login_custom_css";
import { Variables } from '../../variables.js';
export default {
	
data () { 
  return {  
	  valid: true,
	  IsLoading: false,
      username: 'admin',
      usernameRules: [
        v => !!v || 'User Name is required'
      ],  
      password: 'password',
      passwordRules: [
        v => !!v || 'Password is required'
      ]
      }},
	methods: {
   		TryLogin() {   
			if(this.validate()) {
				this.IsLoading = true;
				this.saveTempCreds();
				if (this.$route.path === '/login' && !this.$route.query.to){
					this.$router.replace('/');
				}
			}
			this.IsLoading = false;
		},
	  
	validate() {
		return this.$refs.form.validate();
	},

	saveTempCreds(){
		sessionStorage.setItem('recipeTempUser', JSON.stringify({userName  : this.username, password : this.password}));
	},

  }	,
  	mounted(){
      sessionStorage.setItem('recipeUser', JSON.stringify({userName  : 'admin', password : 'password'}));
	}

}
</script>

<style scoped>
 @import '../../assets/Login_custom_css/util.css'; 
 @import '../../assets/Login_custom_css/main.css'; 

</style>