<template>
        <v-container
    id="dashboard"
    fluid
    tag="section"
  >
        <v-col
        cols="12"
        >
        <base-material-card
          color="warning"
          class="px-5 py-3"
        >
          <template v-slot:heading>
            <div class="row">
              <div class="display-2 font-weight-light mt-4">
                Recipes 
                </div>
                <div class="my-2 ml-auto">
                    <v-btn
                    dark
                    medium
                    @click="openAddReicpeDialog()"
                    >
                    New Recipe  
                  <v-icon right dark>mdi-plus</v-icon>
                </v-btn>
              </div>
          </div>

          </template>
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="ricpesList"
            >
            <template v-slot:item="row">
                <tr>
                  <td @click="openInNewWindow(row.item.Image)"> 
                    <img :src="editImage(row.item.Image)" style="width: 80px; height: 80px" />
                  </td>
                  <td>{{row.item.name}}</td>
                  <td>{{row.item.description}}</td>
                  <td>
                      <v-icon
                        small
                        class="mr-2"
                        @click="openEditReicpeDialog(row.item)"
                      >
                        mdi-pencil
                      </v-icon>
                      <v-icon
                        small
                        color="error"
                        @click="openDeleteDialog(row.item, 'ricpe')"
                      >
                        mdi-delete
                      </v-icon>
                  </td>
                </tr>
            </template>
            </v-data-table>
          </v-card-text>
        </base-material-card>
      </v-col>

        <!-- Start Of Recipe Dialog -->
        <template>
          <div class="text-center">
          <v-dialog
            v-model="dialog"
            width="500"
          >
          <template v-slot:activator="{ on, attrs }" >
            
            </template>
                <v-card> 
  
                  <v-progress-linear 
                  indeterminate
                  v-if="loadingDialog"
                  color="primary"
                  class="mb-0"
                ></v-progress-linear>
  
                  <v-card-title
                    class="headline lighten-2 mb-4"
                    primary-title
                  >
                  Recipe Details
                  </v-card-title>
                 
              <v-tabs v-model="tab">
                <v-tab>General</v-tab>
                <v-tab>Ingredients</v-tab>
              </v-tabs>

              <v-tabs-items v-model="tab">
                <!-- general tab -->
                <v-tab-item>
                  <v-card-text>
                    <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                      >
                        <v-container>
                          <v-row>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="name"
                                :rules="nameRules"
                                label="Recipe Name"
                                required
                                hint="Please Enter Recipe Name"
                              ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="6">
                              <v-file-input
                                v-model="Image"
                                :rules="rules"
                                accept="image/png, image/jpeg,"
                                placeholder="Pick an Image"
                                prepend-icon="mdi-paperclip"
                                label="Icon"
                              ></v-file-input>
                            </v-col>

                            <v-col cols="12" sm="12" md="12">
                              <v-textarea
                                v-model="description"
                                name="input-7-1"
                                label="Recipe	Description"
                                :rules="descriptionRules"
                                value="The Woodman set to work at once"
                                hint="Please Enter Recipe Description"
                              ></v-textarea>
                            </v-col>

                          </v-row>
                          
                        </v-container>
                    </v-form>
                  </v-card-text>
                </v-tab-item>

                <!-- ingrediants tab -->
                <v-tab-item>
                          <base-material-card
                            color="warning"
                            class="px-5 py-3 mt-5"
                          >
                            <template v-slot:heading>
                              <div class="row">
                                <div class="display-2 font-weight-light mt-4">
                                 ingrediants  
                                  </div>
                                  <div class="my-2 ml-auto">
                                      <v-btn
                                      dark
                                      medium
                                      @click="openAddIngrediantDialog()"
                                      >
                                      New ingrediant  
                                    <v-icon right dark>mdi-plus</v-icon>
                                  </v-btn>
                                </div>
                            </div>
                  
                            </template>
                            <v-card-text>
                              <v-data-table
                                :headers="headers2"
                                :items="ingrediantsList"
                              >
                              <template v-slot:item="row">
                                  <tr>
                                    <td>{{row.item.name}}</td>
                                    <td>{{row.item.quantity}}</td>
                                    <td>
                                        <v-icon
                                          small
                                          class="mr-2"
                                          @click="openEditIngrediantDialog(row.item)"
                                        >
                                          mdi-pencil
                                        </v-icon>
                                        <v-icon
                                          small
                                          color="error"
                                          @click="openDeleteDialog(row.item, 'ingrediant')"
                                        >
                                          mdi-delete
                                        </v-icon>
                                    </td>
                                  </tr>
                              </template>
                              </v-data-table>
                            </v-card-text>
                          </base-material-card>
                 
                </v-tab-item>
              </v-tabs-items>


                <v-divider></v-divider>
  
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="warning"
                      text
                      @click="dialog = false"
                      >
                        Close
                    </v-btn>
                    <v-btn
                      color="primary"
                      text
                      :disabled="loadingDialog"
                      @click="onSubmit()"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
          </div>
        </template>
        <!-- End Of Recipe Dialog -->

          <!-- Start Of Ingrediante Dialog -->
        <template>
          <div class="text-center">
          <v-dialog
            v-model="IngrediantDialog"
            width="500"
          >
          <template v-slot:activator="{ on, attrs }" >
            
            </template>
                <v-card> 
  
                  <v-card-title
                    class="headline  lighten-2"
                    primary-title
                  >
                  Ingrediant Details
                  </v-card-title>
                    <v-card-text>
                      <v-form 
                        ref="form2"
                        v-model="valid2"
                        lazy-validation>

                        <v-container>
                         <v-row>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="IngredientName"
                                :rules="ingredientNameRules"
                                label="Ingredient Name"
                                required
                                hint="Please Enter Ingredient Name"
                              ></v-text-field>
                             </v-col>

                            <v-col cols="12" sm="6" md="6">
                              <v-text-field
                                v-model="IngrediantQuantity"
                                :rules="quantityRules"
                                label="Quantity"
                                required
                                hint="Please Enter Ingredient Quantity"
                                type="number"
                              ></v-text-field>
                             </v-col>
                          </v-row>
                        </v-container>

                      </v-form>
                    </v-card-text>
  
                  <v-divider></v-divider>
  
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="warning"
                      text
                      @click="IngrediantDialog = false"
                      >
                        Close
                    </v-btn>
                    <v-btn
                      color="primary"
                      text
                      @click="addIngrediant()"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
          </div>
        </template>
        <!-- End Of Ingrediante Dialog -->

        <!-- Start Of Delete Recipe Dialog -->
        <template>
          <div class="text-center">
          <v-dialog
            v-model="deletDialog"
            width="500"
          >
          <template v-slot:activator="{ on, attrs }" >
            
            </template>
                <v-card> 
  
                  <v-card-title
                    class="headline lighten-2"
                    primary-title
                  >
                  {{deleteState == 'ricpe'  ? 'Ricpe' : 'Ingrediant' }} Details
                  </v-card-title>
                    <v-card-text>
                        <v-container>
                      
                          <p>Are you sure that you want to delete this
                             {{deleteState == 'ricpe'  ? 'Ricpe' : 'Ingrediant' }} ?
                          </p>
                        </v-container>
                    </v-card-text>
  
                  <v-divider></v-divider>
  
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="warning"
                      text
                      @click="deletDialog = false"
                      >
                        Close
                    </v-btn>
                    <v-btn
                      color="error"
                      text
                      :disabled="loadingDialog"
                      @click="deleteItem()"
                    >
                      Delete
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
          </div>
        </template>
        <!-- End Of Delete Recipe Dialog -->
  
        <!-- Start Of snackbar  -->
        <v-snackbar
        v-model="snackbar"
        >
          {{ snackBarText }}
        </v-snackbar>
        <!-- End Of snackbar  -->

      </v-container>
</template>

<script>
  export default {
    data () { 
      return {  
          ricpesList : [],
          ingrediantsList : [],
          resultLength : 0,
          loadingTable : false,
          loadingDialog : false,
          dialog: false,
          deletDialog : false,
          valid: true,
          valid2 : true,
          snackbar : false,
          tab : null,
          IngredientName : '',
          ingredientNameRules: [
            v => !!v || 'Ingredient Name is required'
          ], 
          IngrediantQuantity : 0,
          quantityRules: [
          value => (!!value ) || 
            (!value && 0) || value <= 0 || 'Quantity must be positive number',
          ], 
          snackBarText : '',
          id : 0,
          ingId : 0,
          name : '',
          nameRules: [
            v => !!v || 'Recipe Name is required'
          ], 
          description : '',
          descriptionRules: [
            v => !!v || 'Description is required'
          ], 
          state : 0,
          deleteState  : '',
          IngrediantState : 0,
          IngrediantDialog : false,
          Image : null,
          rules: [
            value => (!!value && this.id == 0) || 
            (!value && this.id != 0) || value?.size < 2000000 || 'Image size should be less than 2 MB!',
          ],
          headers: [
          {
            sortable: false,
            text: 'Image',
          },
          {
            sortable: true,
            text: 'Name',
            value: 'name',
          },
          {
            sortable: true,
            text: 'description',
            value: 'description'
          },
          {
            sortable: false,
            text: 'Actions'
          }
        ],
        headers2: [
          {
            sortable: true,
            value : 'name',
            text: 'Name',
          },
          {
            sortable: true,
            value : 'quantity',
            text: 'Quantity',
          },
          {
            sortable: false,
            text: 'Actions'
          }
        ]
        }},
    methods: {
     
      openSnackbar(text){
        this.snackbar = true;
        this.snackBarText = text;
      },

      fetchReicpes(){
        this.ricpesList = [...this.$store.state.reicpesList];
        console.log(JSON.parse(JSON.stringify(this.ricpesList)));
      },
      
      openAddReicpeDialog(){
        this.state = 0;
        this.ingrediantsList = [];
        this.dialog = true;   
        if(this.$refs.form)
          this.$nextTick(() => {
            this.$refs.form.reset();
          })
      },

      openEditReicpeDialog(reicpe){
        this.state = 1;
        this.id = reicpe.id;
        this.dialog = true;   
        this.name = reicpe.name;
        this.description = reicpe.description;
        this.Image = reicpe.Image;
        this.ingrediantsList = reicpe.ingrediantsList;
      },

      openAddIngrediantDialog(){
        this.IngrediantState = 0;
        this.IngrediantDialog = true;   
          this.$nextTick(() => {
            this.$refs.form2.reset();
          })
      },

      openEditIngrediantDialog(ingrediant){
        this.IngrediantState = 1;
        this.IngrediantDialog = true; 
        this.ingId = ingrediant.id;  
        this.IngredientName = ingrediant.name;
        this.IngrediantQuantity = ingrediant.quantity;
      },

      addIngrediant() {
        if(!this.$refs.form2.validate())
          return;

        const IngrediantObject = {
          id : this.ingrediantsList.length,
          name : this.IngredientName,
          quantity : this.IngrediantQuantity
        }

        if(this.IngrediantState == 0){
          this.ingrediantsList.push(IngrediantObject);
          this.openSnackbar('Ingrediant has been added succesfully');
        }
        else{
          this.ingrediantsList.forEach((element, index) => {
            if (this.ingId == element.id){
              this.ingrediantsList[index] = IngrediantObject 
            }
          });
          this.openSnackbar('Ingrediant has been updated succesfully');
        }
        this.ingrediantsList = [...this.ingrediantsList];
        this.IngrediantDialog = false; 
       
      },

      addReicpe(reicpe) {
        this.$store.commit('addReicpe', reicpe)
        this.fetchReicpes();
        this.dialog = false; 
        this.openSnackbar('Recipe has been added succesfully');
      },

      UpdateRecipe(reicpe){
        this.$store.commit('editReicpe', reicpe)
        this.fetchReicpes();
        this.dialog = false;
        this.openSnackbar('Recipe has been updated succesfully');
      },

      openDeleteDialog(item, state){
        this.deleteState =  state == 'ricpe' ? 'ricpe' : 'ingrediant'
        state == 'ricpe' ? this.id = item.id : this.ingId = item.id;
        this.deletDialog = true;
      },

      deleteItem(){
        if(this.deleteState == 'ricpe') {
          this.$store.commit('deleteReicpe', this.id)
          this.fetchReicpes();
          this.openSnackbar('Recipe has been delted succesfully');
        }
        else{
          this.ingrediantsList.forEach((ingrediant, index) => {
            if (this.ingId == ingrediant.id){
              this.ingrediantsList.splice(index, 1); 
            }
          });
          this.openSnackbar('Ingrediant has been delted succesfully');
          this.ingrediantsList = [...this.ingrediantsList];
        }
        this.deletDialog = false;
      },

      buildRicepe(){
          const obj = {
            id : this.state == 0 ? this.ricpesList.length : this.id,
            name : this.name,
            description : this.description,
            Image : this.Image,
            ingrediantsList : this.ingrediantsList
          }
          
          this.state == 0 ? this.addReicpe(obj) : this.UpdateRecipe(obj);       
      },

      onSubmit(){
        if(this.$refs.form.validate() && this.ingrediantsList.length != 0)
            this.buildRicepe();
        if( this.ingrediantsList.length == 0){
           this.openSnackbar('please add at least one Ingrediant!');
        }
      },

      openInNewWindow(image) {
        window.open(image, '_blank');
      },

      editImage(image){
        let tempImage ;
        if (image && typeof image.name == 'string'){
                  const fileReader = new FileReader();
                  fileReader.readAsDataURL(image);
                  fileReader.onload = function (e) {
                    tempImage =  e.target.result
                  }
              } else {
                tempImage = image;
          }
        return tempImage ;
      }

    },
    mounted(){
      this.fetchReicpes();
    }
  }
</script>

<style>

</style>
